.logo {
    font-style: italic;
}
*{
    box-sizing: border-box;
}


.menu{

    /* margin-top은 요소의 위쪽에 영역을 주는 뜻 */ 
    /* 그럼 바텀은 아래쪽에 영역을 준다. 라는 의미일듯? */
    margin-top: 10px; margin-bottom: 10px; top: 0; left: 0;
    position: sticky;
}

.menu ul{
    /* 도형이나 문자를 마커라고 하는데 어떤 형식 또는 모양의 마커를 사용할지는 list-style로 정한다. */
    /* 그중 none 의 의미는 공통으로 사용한다는 뜻 */
    list-style: none;

    /* 테두리의 상단 두께, 모양, 색상을 일괄 지정 단축해주는 속성이다. */
    border-top: 2px solid black;
    /* 바텀이니 밑단을 꾸며자는 속성 */
    border-bottom: 2px solid black;
    text-align: center;
    background-color: white;
}

.menu ul li{

    /* 줄바꿈 없이 나란히 배치될 수 있도록 동착하게 해서 꾸며준다. */
    display: inline;
    /* 글자 사이의 간격은 letter-spacing으로, 단어 사이의 간격은 word-spacing으로 정한다. */
    letter-spacing: .3em;
    margin-left: 2em;
}

.menu ul li a{
    /* 선으로 텍스트를 꾸밀 수 있게 해주는 속성이다 기본값으로 none을 쓴다. */
    text-decoration: none;
    color: black;
    /* 줄 높이를 정하는 속성이다. 기본값으로는 normal인데 3em으로 띄워준듯? */
    line-height: 3em;
    /* 대문자 또는 소문자로 글자를 모두 바꾸는 속성이다. uppercase는 모든 글자를 대문자로 바꾼다는 뜻 */
    text-transform: uppercase;
}

.menu ul li a:hover{ 

    /* a:link 방문 전 링크 상태
    a:visited 방문 후 링크 상태
    a:hover 마우스 오버했을 때 링크 상태
    a:active  클릭했을 때 링크 상태 */

    text-decoration: underline;
}


/* .으로 된 친구들은 이 클래스로 지정된 아이디를 지칭하는 뜻 */
.popularity{
    text-align: center;

    width: 100%;
    /* width 너비인데 %는 부모의 영향을 받는다.  */
    
    height: 20vh;
    /* height는 높이, vh는 열려있는 화면의 상대길이이기 때문에 스크롤바를 포함한 길이를 반환한다. */
}


.login_sign_menu{
    /* 부모 요소를 기준으로 배치한다. */
    position: absolute;
    top: 30px;
    right: 50px;
        
}

.login_sign_menu a{
    color: black;
}

/* 아무것도 없는건 그냥 해당 태그 영역에 디자인을 부분적으로 사용할 때 */
html, body {
    height: 100%;
    margin: 0;
  }


  /* #이 id로 지정된 친구를 지칭하는 뜻 */
#page{
    min-height: 100%;
    padding-bottom: 60px;
}

.container{
    max-width: 1200px;
    margin: auto;
    background: #f2f2f2;
    overflow: auto;
    
}

.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 390px;
}

.gallery img {
    width: 100%;
    
}

.desc{
    padding: 15px;
    text-align: center;
}


.map{
    text-align: center;
   
}
  
footer{
    height: auto;
    bottom: 0;
    background-color: #333333;
    color: white;
    text-align: center;

}





