/* #board_read {
	width:900px;
	position: relative;
	word-break:break-all;
	text-align: center;
}
#user_info {
	font-size:14px;
}
#user_info ul li {
	float:left;
	margin-left:10px;
}
#bo_line {
	width:880px;
	height:2px;
	background: gray;
	margin-top:20px;
}
#bo_content {
	margin-top:20px;
} */


.read_table {
	border: 1px solid #444444;
	margin-top: 30px;
}

.read_title {
	height: 45px;
	font-size: 23.5px;
	text-align: center;
	background-color: white;
	color: black;
	width: 1000px;
	border-bottom: 1px solid #444444;
}

.read_id {
	text-align: center;
	background-color: #EEEEEE;
	width: 30px;
	height: 33px;
}

.read_id2 {
	background-color: white;
	width: 40px;
	height: 33px;
	padding-left: 10px;
}

.read_hit {
	background-color: #EEEEEE;
	width: 30px;
	text-align: center;
	height: 33px;
}

.read_hit2 {
	background-color: white;
	width: 40px;
	height: 33px;
	padding-left: 10px;
}

.read_date {
	background-color: #EEEEEE;
	width: 30px;
	text-align: center;
	height: 33px;
}

.read_date2 {
	background-color: white;
	width: 40px;
	height: 33px;
	padding-left: 10px;

}

.read_content {
	padding: 20px;
	border-top: 1px solid #444444;
	height: 500px;
}

.bo_ser {
	/* font-size:14px;
	color:#333;
	position: absolute;
	right: 0; */

	/* width: 700px;
	height: 200px;
	text-align: center;
	margin: auto;
	margin-top: 50px; */
}
#ul_list{
text-align: right;
list-style: none;
margin: 10px;
padding: 0%;
}

.bo_ser > ul > li {
	
	/* margin-left:10px; */

	display: inline;
	height: 50px;
	width: 100px;
	font-size: 20px;
	margin: 3px;
	
}

/* #content {
	margin-top:10px;
}
#content p {
	font:14px;
	color:#333;
	width: 900px;
	height: 400px;
	resize: none;
} */